#about {
    height: 200px;
}

body {
    background-color: bisque;
}

h2 {
    width: 100%;
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
}

#diagram {
    width: 1000px;
}